.gridmaindiv {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 💻 Desktop & Laptop: 4 images */
  gap: 14px;
  padding: 10px;
}
;
.galleryimgbox{
  object-fit: cover;
}
.gridcard {
  background: #ffffff;
  /* padding: 0px; */
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 6px 15px rgba(0,0,0,0.25);
  transition: transform 0.3s ease;
}

.gridcard:hover {
  transform: translateY(-4px) scale(2);
}

.gridcard img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  height: 580px;
  border-radius: 10px;
}

@media (max-width: 480px) {
  .gridmaindiv {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .gridcard img {
    height: 300px;
  }
}